@model List<LessonListDto>
<h1>Dersler</h1>
<br>
<a class="btn btn-outline-primary"
   asp-area="Admin"
   asp-controller="Lesson"
   asp-action="Create">Yeni Ders Ekle</a>
<hr />
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Url</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model)
        {
            <tr>
                <td>@lesson.Id</td>
                <td>@lesson.Name</td>
                <td>@lesson.Url</td>
                <td>
                    <a class="btn btn-warning btn-sm"
                   asp-area="Admin"
                   asp-controller="Lesson"
                   asp-action="Edit"
                   asp-route-id=@lesson.Id>Düzenle</a> 
                    <a class="btn btn-danger btn-sm"
                   asp-area="Admin"
                   asp-controller="Lesson"
                   asp-action="Delete"
                   asp-route-id=@lesson.Id>Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

