<div class="mt-3">
    <form asp-area="" asp-controller="Home" asp-action="Search">
        <div class="form-outline">
            <input id="search" class="form-control mb-2" name="searchString" />
            <label for="search" class="form-label">Aramak için bir şeyler yaz</label>

        </div>

        <button type="submit" class="btn btn-primary btn-block"> <i class="fa fa-search"></i> Ara</button>

    </form>
</div>
