
<div class="col-12 col-lg-10 col-xl-8 mx-auto d-flex mt-4 pt-4">
  <div class="row d-flex">
    <div class="col-12 col-lg-6">
      <div class="card admin-panel-navigation-card">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Dersler</h5>
          <p class="card-text">Dersleri düzenle, ekle sil ve daha fazlası için yönet</p>
          <a type="button" class="btn btn-primary btn-block btn-lg my-4" asp-area="Admin" asp-controller="Lesson" asp-action="Index">Dersleri Gör</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card admin-panel-navigation-card">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Branşlar</h5>
          <p class="card-text">Branşları düzenle, ekle sil ve daha fazlası için yönet</p>
          <a type="button" class="btn btn-primary btn-block btn-lg my-4" asp-area="Admin" asp-controller="Branch" asp-action="Index">Branşları Gör</a>
        </div>
      </div>
    </div>
  </div>
</div>
