<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - OzelDers.Web</title>
  <link rel="stylesheet" href="~/lib/fa/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
  <script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/OzelDers.Web.styles.css" asp-append-version="true" />
</head>

<body>
  <header>
    <nav
      class="navbar app-navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OzelDers.Web</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target=".navbar-collapse"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

        <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link" asp-area="Students" asp-controller="Home" asp-action="Index"><i
                  class="fa fa-home me-2"></i>Anasayfa</a>
            </li>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
              <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
              </li>
            }

          </ul>

          <ul class="navbar-nav mr-auto">

            @if (User.Identity.IsAuthenticated)
            {


              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Manage"
                asp-route-id="@User.Identity.Name"><i class="fa fa-user me-2"></i>@User.Identity.Name</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout"><i
                  class="fa fa-sign-out me-2"></i>Çıkış Yap</a>
              </li>



            }
            else
            {
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="RegisterMenu">Kayıt Ol</a>
              </li>



              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap </a>
              </li>
            }

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="footer app-footer navbar bg-light fixed-bottom border-top">
    <div class="container">
      <span class="text-muted">
        &copy; 2022 - OzelDers.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </span>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
