<form asp-controller="Account" asp-action="ForgotPassword" method="post">

  <div class="row">
    <div class="col-11 col-md-7 col-xl-5 card py-4 px-4 mx-auto">
      <h1 class="text-muted mb-4 text-center">Şifremi Unuttum</h1>
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-outline">
        <input id="email" class="form-control" name="email" type="email">
        <label class="form-label">Kayıtlı email adresinizi giriniz</label>
      </div>
      <button type="submit" class="btn btn-primary me-2 my-3">Şifre Sıfırlama Linkini Gönder</button>
      <a type="button" class="btn btn-light" asp-controller="Home" asp-action="Index">Vazgeç</a>
    </div>
  </div>
</form>
