<div class="row register-menu d-flex justify-content-center">
  <div class="col-12 col-lg-4 mb-3 mb-lg-0">
    <div class="card">
      <img src="/public/images/teacher.jpg" class="card-img-top" alt="Öğretmen" draggable="false" />
      <div class="card-body">
        <h5 class="card-title">Öğretmen Kayıt</h5>
        <p class="card-text">Bir eğitimci misiniz? <br> Vereceğiniz dersleri seçin ve öğrencilere ulaşın.</p>
        <a class="btn btn-primary btn-block fs-6" asp-area="" asp-controller="Account" asp-action="Teacher">
          Kayıt Ol
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 mb-3 mb-lg-0">
    <div class="card">
      <img src="/public/images/student.jpg" class="card-img-top" alt="Öğrenci" draggable="false" />
      <div class="card-body">
        <h5 class="card-title">Öğrenci Kayıt</h5>
        <p class="card-text">Yardıma mı ihtiyacınız var? <br> En iyi öğretmenlerden alanınız için ders alın.</p>
        <a class="btn btn-primary btn-block fs-6" asp-area="" asp-controller="Account" asp-action="Student">
          Kayıt Ol
        </a>
      </div>
    </div>
  </div>
</div>
