@using OzelDers.Web.Models.Dtos;
@model ResetPasswordDto
<h1>Şifre Yenileme</h1>
<hr />
<form asp-controller="Account"
      asp-action="ResetPassword"
      method="post">
    <input type="hidden" asp-for="Token" />
    <div class="row">
        <div class="col-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Şifremi Yenile</button>
            <a type="button" class="btn btn-light"
               asp-controller="Home"
               asp-action="Index">Vazgeç</a>
        </div>
    </div>
</form>